<p style="color: green"><%= notice %></p>
<h4><%= current_user.email  %></h4>
<h4><%= button_to "logout", destroy_user_session_path, method: :delete, class: "dropdown-item"  %></h4>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
        <%= link_to "Show", post %>
      <% if can? :update, post %>
        <%= link_to "Edit", [:edit, post] %>
      <% end %>
      
    </p>
  <hr />
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
