<p style="color: green"><%= notice %></p>

<%= render @post %>

<div>
  <% if can? :update, @post %>
    <%= link_to "Edit this post", edit_post_path(@post) %>
  <% end %>

  <%= link_to "Back to posts", posts_path %>


  <%= button_to "Delete", {:action => 'destroy', :id => @post.id }, :method => :delete %>
</div>
